body {
    background-color: aliceblue;
}
#main{
    padding-top: 50px;
    padding-left: 10px;
}
.container a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    display: block;
}